<% layout('/layouts/boilerplate') -%>
<!-- fist we are storing env variable in(because it is only available in ejs file) js then using in another js file -->
<script>
    const maptilerKey = "<%= process.env.MAP_TOKEN %>";
    const listingCoords = <%= JSON.stringify(reqlist.geometry ? reqlist.geometry.coordinates : []) %>;
    const listingTitle = "<%= reqlist.title %>";
</script>
<body>
    <div class="row">
    <div class="col-8 offset-3">
    <h1><b><%= reqlist.title %></b></h1></div>
    <div class="col-6 offset-3">
    <div class="card Listingcard" style="width: 18rem;">
  <img src="<%= reqlist.image.url %>" class="card-img-top" alt="place">
  <div class="card-body">
    <p class="card-text">
        <p>Owned by : <%= reqlist.owner.username %></p>
        <p>&#8377;<%= reqlist.price.toLocaleString("en-IN") %></p>
        <p><%= reqlist.description %></p>
        <p><%= reqlist.location %></p>
        <p><%= reqlist.country %></p>
    </p>
    </div>
    </div>
    </div>
    </div><br>
    
    <% if(currUser && currUser._id.equals(reqlist.owner._id)){ %>
       <div class="col-1 btns offset-3">
         <a href="/listings/<%= reqlist.id %>/edit" class="btn btn-dark edit-btn" style="height: 2.4rem" >Edit</a><br><br>
        <form method="post"  action="/listings/<%= reqlist.id %>?_method=DELETE">
            <button class="btn btn-dark offset-8">Delete</button>
        </form>
       </div>
    <% } %>
       <div class=" col-8 offset-3">
        <hr>
    <% if(currUser){ %>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= reqlist.id %>/review" method="post" novalidate class="needs-validation">           
        <div class="mb-3 mt-3">
            <fieldset class="starability-slot">
            <legend>Rating</legend>
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
        </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea name="review[comment]"
                 class="form-control"
                  id="comment" cols="30"
                   rows="5" required></textarea>
                <div class="invalid-feedback">Please add some comment for review</div>
            </div>
        <button class="btn btn-outline-dark">submit</button>
        </form><hr>
        <% } %>
        <% if(reqlist.reviews.length > 0){ %>
        <p><b>All Reviews</b></p>
        <div class="row ">
        <% for (review of reqlist.reviews){ %>
            <div class="card col-5 mb-3 ms-3">
                <div class="card-body">
                    <h5 class="card-title">@<%= review.author.username %></h5>
                    <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                    <p class="card-text"><%= review.comment %></p>
                    <form class="mb-3" method="POST" action="/listings/<%= reqlist._id %>/review/<%= review._id %>?_method=DELETE">
                        <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>
        </div>
              <% } %>   
    </div>
    <div class="col-8 offset-3 mb-3">
            <h3>Where you'll be</h3>
            <div id="map" style="height: 400px;"></div>
    </div>
<script src="/js/map.js"></script>
</body>